<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <title>Registrarse | EPT</title>
    <link rel="icon" type="image/png" href="../Assets/Logo_TPI.png">

</head>

<body>
<main class="singup-main">

    <section id="section-signup">
        <div class="sup-section-container">
            <div class="sup-form-container">
                <a href="/"><img src="../Assets/Logo_TPI.png" class="login-logo-img"></a>
                <h2 class="sup-title">
                    Crea una cuenta
                </h2>
                <p class="sup-desc">
                    Empieza ahora y sé parte de nuestro ambiente
                </p>
                <form action="signup" method="post"> <!--th:object="${registroForm}"-->
                    <!-- Campo Username -->

                    <input placeholder="DNI" type="text" id="username" name="username" required  class="sup-dni"> <!-- th:field="*{username}" -->
                    <br>

                    <!-- Campo Nombre -->

                    <input placeholder="Nombre de Usuario" type="text" id="nombre" name="nombre" required class="sup-user"> <!-- th:field="*{nombre}" -->
                    <br>

                    <!-- Campo Email -->

                    <input placeholder="Correo Electrónico" type="email" id="email" name="email" required class="sup-user"> <!-- th:field="*{email}" -->
                    <br>

                    <!-- Campo Password -->

                    <input  placeholder="Contraseña"type="password" id="password" name="password" required class="sup-user"> <!-- th:field="*{password}" -->
                    <br>

                    <!-- Campo Rol -->
                    <label for="rol" class="rol-label">Rol:</label>
                    <select placeholder="Seleccionar" id="rol" name="rol" required class="rol-select"> <!-- th:field="*{rol}" -->
                        <option  class="rol-op" value="Admin">Admin</option>
                        <option  class="rol-op" value="Profesor">Profesor</option>
                        <option  class="rol-op" value="Estudiante">Estudiante</option>
                        <option  class="rol-op" value="Titular">Titular</option>
                        <option  class="rol-op" value="Personal">Personal</option>
                    </select>
                    <br>

                    <!-- Campo Fecha de Nacimiento -->
                    <label  class="rol-label" for="fechaNacimiento">Fecha de Nacimiento:</label>
                    <input  class="fecha-input" type="date" id="fechaNacimiento" name="fechaNacimiento"
                           required> <!-- th:field="*{fechaNacimiento}" -->
                    <br>

                    <input class="btn-continue" type="submit" value="Registrarse">
                </form>
            </div>
            <div class="sup-image-container">
                <div class="sup-logo-container">
                    <img src="../Assets/estructura_escuela.png" class="sup-logo-img-right">
                    <h2>Conoce la Institución</h2>
                    <p>Inspiramos, desafiamos y empoderamos a todos nuestros alumnos a
                        ser miembros comprometidos y éticos de una comunidad global.</p>
                </div>
                <img src="../Assets/backwave.jpg" alt="" class="imagewave">
            </div>

        </div>

    </section>

</main>

<footer>


</footer>

<script src="javascript.js"></script>
</body>

</html>



<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit.  -->
